<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detection</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Face Detection Using Flask and OpenCV</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">

    <div id="notification" style="font-size: 24px; color: red;"></div>

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('face_detected', function(data) {
            document.getElementById('notification').innerHTML = data.message;
            setTimeout(function() {
                document.getElementById('notification').innerHTML = '';
            }, 2000);  // Clear the message after 2 seconds
        });
    </script>
</body>
</html>
